body {
  background-image: url('./images/Lighthouse.jpg');
  background-size: cover;
  display: grid;
  height: 100vh;
  margin: 0;
  place-items: center center;
}

.avatar-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 2em 4em;

  img {
    margin: 1em 0;
  }
  span {
    display: flex;
    width: 100%;
    margin-top: 0.75em;
    font-size: 1.75em;
    justify-content: space-between;

    a:visited {
      color: black;
    }

    a:hover {
      color: #724d56;
    }
  }
}
