a {
  color: unset;
}
h2 {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.nav-wrapper h2 {
  padding: 0 0.5em;
}
